@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ngwgjd');
  src:  url('fonts/icomoon.eot?ngwgjd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ngwgjd') format('truetype'),
    url('fonts/icomoon.woff?ngwgjd') format('woff'),
    url('fonts/icomoon.svg?ngwgjd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e902";
}
.icon-chevron-bottom:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-clipboard-notes:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-comments-outline:before {
  content: "\e907";
}
.icon-comments:before {
  content: "\e908";
}
.icon-edit-file:before {
  content: "\e909";
}
.icon-eye:before {
  content: "\e90a";
}
.icon-file-blank:before {
  content: "\e90b";
}
.icon-file:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e90d";
}
.icon-notes:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-thumbs-down:before {
  content: "\e910";
}
.icon-thumbs-up:before {
  content: "\e911";
}
.icon-world:before {
  content: "\e912";
}
